@using FinanceManager.Components.Components.Charts

<MudCard Outlined Class="d-flex flex-nowrap " Style="@($"height:{Height};")">
    <MudPaper Class="flex-grow-1 p-3 pb-1" Elevation="0">
        <MudText Typo=Typo.h5>
            @(DisplayIncome ? "Income" : "")
            @(DisplaySpending ? "Spending" : "")
            @(DisplayBalance ? "Balance" : "")
        </MudText>
    </MudPaper>
    <MudPaper Class="flex-grow-1 overflow-auto" Elevation="0">
        @if (_isLoading || _isInitializing)
        {
            <div style="height:100%">
                <ChartSpinner MaxHeight=@Height />
            </div>
        }
        else if (_series.Any())
        {
            <LineChartJs Series="@_series" />
        }
        else
        {
            <div class="d-flex flex-grow-1 justify-center align-content-center flex-wrap">
                <MudText Typo="Typo.button" HtmlTag="h3">No data</MudText>
            </div>
        }
    </MudPaper>
</MudCard>