@using ApexCharts
@using FinanceManager.Domain.Entities
@using FinanceManager.Domain.Entities.Accounts
@using FinanceManager.Domain.Entities.Login
@using FinanceManager.Domain.Providers
@using FinanceManager.Domain.Repositories
@using FinanceManager.Domain.Repositories.Account
@using FinanceManager.Domain.Services

<div class="card" style="height:@Height;">
    <div class="row m-0">
        <div class="card-body">
            <div class="container-fluid d-flex flex-column h-100 px-1">
                <div class="col px-0">
                    <h5 class="card-title">Liabilities</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@TotalAssets @currency</h6>
                </div>
            </div>
        </div>
    </div>

    <div class="row flex-fill pb-2" style="height:1px;">
        <div class="h-100">

            <ApexChart @ref="chart" Height="@("100%")" TItem="LiabilityOverviewEntry" Options="options">
                <ApexPointTooltip>
                    <div class="m-2">
                        @{
                            var point = context.DataPoint.Items.FirstOrDefault();
                            if (point is not null)
                            {
                                <span class="me-1">@context.DataPoint.X: -@point.Value @currency</span>
                            }
                        }
                    </div>
                </ApexPointTooltip>

                <ChildContent>
                    <ApexPointSeries TItem="LiabilityOverviewEntry"
                                     Items="Data"
                                     Name="Assets"
                                     XValue="e => e.Cathegory.ToString()"
                                     YAggregate="@(e => e.Sum(e => e.Value))"
                                     SeriesType="SeriesType.Pie"
                                     OrderByDescending="@(e=>e.Y)" />
                </ChildContent>

            </ApexChart>

        </div>
    </div>
</div>