@using ApexCharts
@using FinanceManager.Domain.Entities.MoneyFlowModels;

<div class="card" style="height:@Height;">
    <div class="row m-0">
        <div class="card-body">
            <div class="container-fluid d-flex flex-column h-100 px-1">
                <div class="col px-0">
                    <h5 class="card-title">Liabilities</h5>
                    @if (ChartData.Any())
                    {
                        <h6 class="card-subtitle mb-2 text-muted">@_totalLiabilities @_currency</h6>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row flex-fill pb-2" style="height:1px;">
        <div class="h-100">
            @if (ChartData.Any())
            {
                <ApexChart @ref="_chart" Height="@("100%")" TItem="TimeSeriesModel" Options="_options">
                    @*    <ApexPointTooltip>
                    <div class="m-2">
                        @{
                            var point = context.DataPoint.Items.FirstOrDefault();
                            if (point is not null)
                            {
                                <span class="me-1">@context.DataPoint.X: -@point.Value @_currency</span>
                            }
                        }
                    </div>
                </ApexPointTooltip>

                <ChildContent> *@
                    <ApexPointSeries TItem="TimeSeriesModel"
                                     Items="ChartData"
                                     Name="Liabilities"
                                     SeriesType="SeriesType.Pie"
                                     XValue="@(e => e.Name)"
                                     YAggregate="@(e => e.Sum(e => e.Value))"
                                     OrderByDescending="@(e=>e.Y)" />
                    @* </ChildContent> *@

                </ApexChart>

            }
            else
            {
                <div class="d-flex flex-grow-1 justify-center align-content-center flex-wrap">
                    <MudText Typo="Typo.button" HtmlTag="h3">No data</MudText>
                </div>
            }
        </div>
    </div>
</div>