@page "/landingpage"

@using FinanceManager.Application.Providers
@using FinanceManager.Domain.Enums
@using FinanceManager.Domain.Services
@layout NoNavbarLayout

@inject NavigationManager Navigation
@inject ILoginService LoginService


<MudGrid>
    <MudItem xs="12">
        <MudToolBar>
            <MudSpacer />
            <MudLink Href="login" Class="py-4" Underline="Underline.None">Login</MudLink>
        </MudToolBar>
    </MudItem>

    <MudItem xs="12" Class="py-5">
        <MudGrid style="min-height: 75vh;">

            <MudItem xs="12" md="4" Class="d-flex flex-grow-1 gap-4 align-center">
                <div class="d-flex flex-grow-1 m-4">
                    <MudPaper Class="flex-grow-1 text-center" Elevation="0" Style="background-color:transparent">
                        <MudText Typo="Typo.h1">Finance</MudText>
                        <MudText Typo="Typo.h1">Manager</MudText>
                    </MudPaper>
                </div>
            </MudItem>

            <MudItem xs="12" md="8" Class="d-flex flex-grow-1 gap-4 align-center">
                <div class="d-flex flex-grow-1 m-4">
                    <MudPaper Class="flex-grow-1" Elevation="0" Style="background-color:transparent">
                        <MudText Typo="Typo.h3" Class="py-5">Stop wasting  money on stuff you don't need.</MudText>
                        <MudText Typo="Typo.h5" Class="py-5">Get your very own finance manager.</MudText>
                        <div class="pt-5">
                            <MudStack Row="true" Wrap="Wrap.Wrap">
                                <MudButton Href="register" Variant="Variant.Filled" Color="Color.Primary">
                                    <MudText Typo="Typo.h5" Class="">Register</MudText>
                                </MudButton>
                                <MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick=LogGuest>
                                    <MudText Typo="Typo.h5" Class="">Check out demo!</MudText>
                                </MudButton>
                            </MudStack>
                        </div>
                    </MudPaper>
                </div>
            </MudItem>

        </MudGrid>
    </MudItem>

    <MudItem xs="12" Class="py-5">
        <div class="d-flex flex-grow-1 justify-center ">
            <MudPaper Elevation="0" Class="flex-grow-1 py-8 text-center" Style="background-color:transparent">
                <MudText Typo="Typo.h5" Class="text-center m-1">Learn more!</MudText>
                <MudIcon Icon="@Icons.Material.Filled.KeyboardDoubleArrowDown" Title="KeyboardArrowDown" Class="text-center m-1 upAndDownAnimation" />
            </MudPaper>
        </div>
    </MudItem>

    <MudItem xs="12" Class="py-5">
        <MudGrid style="min-height: 60vh;">
            <MudItem xs="12" md="6" Class="order-2 order-md-1 d-flex align-center ">
                <div class="d-flex flex-grow-1 m-4">
                    <MudImage Fluid="true" Src="imgs/Dashboard.jpg" Alt="Dashboard" Class="flex-grow-1 rounded-lg p-4" Elevation="25" />
                </div>
            </MudItem>

            <MudItem xs="12" md="6" Class="order-1 order-md-2 d-flex flex-grow-1 gap-4 align-center">
                <div class="d-flex flex-grow-1 m-4">
                    <MudPaper Class="flex-grow-1 text-center" Elevation="0" Style="background-color:transparent">
                        <MudText Typo="Typo.h3">Intuitive dashboard design</MudText>
                        <MudText Typo="Typo.h5" Class="mt-4">Keep it simple and gather your important data in one place.</MudText>
                    </MudPaper>
                </div>
            </MudItem>
        </MudGrid>
    </MudItem>

    <MudItem xs="12" Class="py-5">
        <MudGrid style="min-height: 60vh;">
            <MudItem xs="12" md="6" Class="d-flex flex-grow-1 gap-4 align-center">
                <div class="d-flex flex-grow-1">
                    <MudPaper Class="flex-grow-1 text-center" Elevation="0" Style="background-color:transparent">
                        <MudText Typo="Typo.h3">Assets</MudText>
                        <MudText Typo="Typo.h5" Class="mt-4">Manage your assets like a real pro</MudText>
                    </MudPaper>
                </div>
            </MudItem>

            <MudItem xs="12" md="6" Class="d-flex align-center">
                <div class="d-flex flex-grow-1 m-4">
                    <MudImage Fluid="true" Src="imgs/Assets.jpg" Alt="Assets" Class="flex-grow-1 rounded-lg p-4" Elevation="25" />
                </div>
            </MudItem>
        </MudGrid>
    </MudItem>

    <MudItem xs="12" Class="py-5">
        <MudGrid style="min-height: 60vh;">

            <MudItem xs="12" Class="d-flex flex-grow-1 gap-4 align-center">
                <div class="d-flex flex-grow-1">
                    <MudPaper Class="flex-grow-1 text-center" Elevation="0" Style="background-color:transparent">
                        <MudText Typo="Typo.h3">Accounts</MudText>
                        <MudText Typo="Typo.h5" Class="mt-4">Track cash, shares, ETF, real estate value and more...</MudText>
                    </MudPaper>
                </div>
            </MudItem>
            <MudItem xs="12" md="6" Class="d-flex align-center mt-5">
                <div class="d-flex flex-grow-1 m-4">
                    <MudImage Fluid="true" Src="imgs/CashAccount.jpg" Alt="CashAccount" Class="flex-grow-1 rounded-lg p-4" Elevation="25" />
                </div>
            </MudItem>
            <MudItem xs="12" md="6" Class="d-flex align-center">
                <div class="d-flex flex-grow-1 m-4">
                    <MudImage Fluid="true" Src="imgs/SharesAccount.jpg" Alt="SharesAccount" Class="flex-grow-1 rounded-lg p-4" Elevation="25" />
                </div>
            </MudItem>
            <MudItem xs="12" md="6" Class="d-flex align-center">
                <div class="d-flex flex-grow-1 m-4">
                    <MudImage Fluid="true" Src="imgs/RealEstateAccount.jpg" Alt="RealEstateAccount" Class="flex-grow-1 rounded-lg p-4" Elevation="25" />
                </div>
            </MudItem>
            <MudItem xs="12" md="6" Class="d-flex align-center">
                <div class="d-flex flex-grow-1 m-4">
                    <MudImage Fluid="true" Src="imgs/LoanAccount.jpg" Alt="LoanAccount" Class="flex-grow-1 rounded-lg p-4" Elevation="25" />
                </div>
            </MudItem>

        </MudGrid>
    </MudItem>

    <MudItem xs="12">
        <MudContainer MaxWidth="MaxWidth.Large" style="min-height: 100vh;" Class="d-flex flex-grow-1 gap-4 align-center">

            <MudGrid Class="py-5">
                <MudItem xs="12" sm="6" md="4">
                    <MudCard Elevation="25" Class="rounded-lg pb-4">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h5" Align="Align.Center">Beginner</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <div class="d-flex justify-center">
                                <MudText Typo="Typo.h3">Free</MudText>
                            </div>
                            <MudList T="string" Class="mx-auto mt-4" Style="width:300px;">
                                <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                                    No bank synchronization
                                </MudListItem>
                                <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                                    @PricingProvider.GetMaxAllowedEntries(Domain.Enums.PricingLevel.Free) transactions
                                </MudListItem>
                                <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                                    Up to @PricingProvider.GetMaxAccountCount(Domain.Enums.PricingLevel.Free) accounts
                                </MudListItem>
                            </MudList>
                        </MudCardContent>
                        <MudCardActions Class="d-flex justify-center">
                            <MudButton Href="register" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;">Start Now</MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudCard Elevation="25" Class="rounded-lg pb-4">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h5" Align="Align.Center">Starter</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <div class="d-flex justify-center">
                                <MudText Typo="Typo.h3">$10</MudText>
                                <MudText Typo="Typo.h5" Class="ml-1 mt-5" Color="Color.Secondary">/Monthly</MudText>
                            </div>
                            <MudList T="string" Class="mx-auto mt-4" Style="width:300px;">
                                <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                                    No bank synchronization
                                </MudListItem>
                                <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                                    @PricingProvider.GetMaxAllowedEntries(Domain.Enums.PricingLevel.Basic) transactions
                                </MudListItem>
                                <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                                    Up to @PricingProvider.GetMaxAccountCount(Domain.Enums.PricingLevel.Basic) accounts
                                </MudListItem>
                            </MudList>
                        </MudCardContent>
                        <MudCardActions Class="d-flex justify-center">
                            <MudButton Href="@($"register/{PricingLevel.Basic}")" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;">Start Now</MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
                <MudItem xs="12" sm="12" md="4">
                    <MudCard Elevation="25" Class="rounded-lg pb-4">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h5" Align="Align.Center">Professional</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <div class="d-flex justify-center">
                                <MudText Typo="Typo.h3">$15</MudText>
                                <MudText Typo="Typo.h5" Class="ml-1 mt-5" Color="Color.Secondary">/Monthly</MudText>
                            </div>
                            <MudList T="string" Class="mx-auto mt-4" Style="width:300px;">
                                <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                                    Bank synchronization
                                </MudListItem>
                                <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                                    @Application.Providers.PricingProvider.GetMaxAllowedEntries(Domain.Enums.PricingLevel.Premium) transactions
                                </MudListItem>
                                <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                                    Unlimited accounts
                                </MudListItem>
                            </MudList>
                        </MudCardContent>
                        <MudCardActions Class="d-flex justify-center">
                            <MudButton Href="@($"register/{PricingLevel.Premium}")" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;">Start Now</MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </MudContainer>
    </MudItem>
</MudGrid>