@page "/Assets"


<PageTitle>Assets</PageTitle>

<div class="container mt-2">
    <div class="row g-2">
        <div class="col-12">
            <AssetsTimeSeriesCard StartDateTime=StartDate EndDateTime="@EndDate" />
        </div>

        <div class="col-md-12 col-lg-4">
            <AssetsPerTypeOverviewCard StartDateTime=StartDate EndDateTime="@EndDate" Height="@($"{1.5 * _unitHeight}px")" />
        </div>

        <div class="col-md-12 col-lg-4">
            <AssetsPerAccountOverviewCard StartDateTime=StartDate EndDateTime="@EndDate" Height="@($"{1.5 * _unitHeight}px")" />
        </div>

        <div class="col-md-12 col-lg-4">
            <AssetsPerAccountOverviewCard DisplayAsChart="false" StartDateTime=StartDate EndDateTime="@EndDate" Height="@($"{1.5 * _unitHeight}px")" />
        </div>
               
    </div>
</div>


<DashboardDatePicker DateChanged=DateChanged StartingOption="ThisMonth" />