@page "/Lliabilities"
@using FinanceManager.Components.Services
@using FinanceManager.Domain.Repositories.Account
@using FinanceManager.Domain.Entities.Accounts
@using FinanceManager.Domain.Repositories
@using FinanceManager.Domain.Services
@using FinanceManager.Components.Components.Dashboard.Cards

@inject ISettingsService settingsService;
@inject IFinancialAccountService FinancalAccountService;
@inject ILoginService loginService;

<PageTitle>Lliabilities</PageTitle>

<div class="container mt-2">
    <MudGrid Spacing="2">
        <MudItem xs="12">
            <MudItem xs="12">
                <MudCard style="@($"height:{UnitHeight}px;")" Elevation="0" Outlined>
                    <MudCardHeader class="pb-1 pt-2">
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">Total liabilities over time</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent Class="py-0">
                        <MudSkeleton Width="100%" Height="100%" />
                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudItem>

        <MudItem xs="12" md="12" lg="8">
            <MudCard style="@($"height:{1.5 * UnitHeight}px;")" Elevation="0" Outlined>
                <MudCardContent>
                    <MudSkeleton Width="30%" Height="42px;" />
                    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="160px" />
                    <MudSkeleton Width="80%" />
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem xs="12" md="6" lg="4">
            <LiabilityOverviewCard StartDateTime="@DateTime.Now.AddMonths(-1)" Height="@($"{1.5 * UnitHeight}px")" />
        </MudItem>

        @for (int i = 0; i < 3; i++)
        {
            <MudItem xs="12" md="6" lg="4">
                <MudCard style="@($"height:{1.5 * UnitHeight}px;")" Elevation="0" Outlined>
                    <MudCardContent>
                        <MudSkeleton Width="30%" Height="42px;" />
                        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="160px" />
                        <MudSkeleton Width="80%" />
                    </MudCardContent>
                </MudCard>
            </MudItem>
        }
    </MudGrid>
</div>

@code
{
    private const int UnitHeight = 190;

    public decimal TotalLiabilities;
    public DateTime StartDateTime { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var user = await loginService.GetLoggedUser();
        if (user is null) return;
        var bankAccounts = await FinancalAccountService.GetAccounts<BankAccount>(user.UserId, DateTime.UtcNow.AddMonths(-1), DateTime.UtcNow);
        if (bankAccounts is null) return;

        bankAccounts = bankAccounts.Where(x => x.Entries is not null && x.Entries.Any() && x.Entries.First().Value <= 0).ToList();
        TotalLiabilities = bankAccounts.Sum(x => x.Entries!.OrderByDescending(x => x.PostingDate).First().Value);
    }
}