<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="new[] { typeof(Home).Assembly }">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>


<MudThemeProvider @ref="@_mudThemeProvider" @bind-IsDarkMode="@_isDarkMode" Theme="MyCustomTheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@code {
    private bool _isDarkMode;
    private bool _useSystemPreferences = true;
    private MudThemeProvider? _mudThemeProvider;
    [Inject] public required IJSRuntime JS { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (_useSystemPreferences && _mudThemeProvider is not null)
                _isDarkMode = await _mudThemeProvider.GetSystemDarkModeAsync();

            // Remove the preload styles applied in index.html after the app finishes initial render
            try
            {
                await JS.InvokeVoidAsync("financeManager.clearPreload");
            }
            catch (Exception)
            {
                // ignore if JS interop not available
            }

            StateHasChanged();
        }
    }

    private MudTheme MyCustomTheme = new MudTheme()
    {
        PaletteLight = new PaletteLight()
        {
            Primary = Colors.Amber.Darken1,
            Secondary = Colors.Amber.Lighten2,
            AppbarBackground = Colors.Shades.White,
        },
        PaletteDark = new PaletteDark()
        {
            Primary = Colors.Amber.Darken3,
            Secondary = Colors.Amber.Darken1,

            Background = Colors.Gray.Darken4,

            AppbarBackground = Colors.Gray.Darken4,
            DrawerBackground = Colors.Gray.Darken4,
            Surface = Colors.Gray.Darken3,
        },
    };
}