@using FinanceManager.Components.Components.FinancialAccounts.Shared
@using FinanceManager.Components.Components.SharedComponents.Charts
@using FinanceManager.Domain.Entities.MoneyFlowModels;

@if (Account is not null && Account.Entries is not null && (IsLoading || Account.Entries.Any() || !_loadedAllData))
{
    <AccountDetailsPageContent AccountName="@Account.Name"
                               ChartData="ChartData"
                               ChartContainerClass="col-12 mb-2"
                               IsLoading="@IsLoading"
                               IsLoadingMore="@_isLoadingMore"
                               LoadedAllData="@_loadedAllData"
                               OnLoadMore="LoadMore">
        <ActionButtons>
            <MudButton Variant="Variant.Text" href="@($"Import/{Account.AccountId}")">Import</MudButton>
            <MudButton Variant="Variant.Text" Disabled>Export</MudButton>
            <MudButton Variant="Variant.Text" href="@($"ManageAccount/{Account.AccountId}")">Manage</MudButton>
            <MudButton Variant="Variant.Text" href="@($"StockPrices")">Stocks Prices</MudButton>
        </ActionButtons>
        <AddEntryOverlay>
            <MudFab Color="MudBlazor.Color.Primary" StartIcon="@Icons.Material.Filled.Add" Label="Add"
                    OnClick=ShowOverlay Style="margin-left: 30px; position: fixed; bottom: 3vh; z-index:1000;" />

            <MudOverlay Visible="@_addEntryVisibility" DarkBackground="true">
                <MudPaper Class="p-5">
                    <AddStockEntry InvestmentAccount=Account ActionCompleted="HideOverlay" Tickers=@_stocks />
                </MudPaper>
            </MudOverlay>
        </AddEntryOverlay>
        <Entries>
            @foreach (var entry in Account.Entries.OrderByDescending(x => x.PostingDate))
            {
                <StockAccountDetailsRow InvestmentAccount=@Account InvestmentEntry=entry />
            }
        </Entries>
        <SidePanel>
            <MudPaper Class="pa-3" Elevation="0" Style="background-color:transparent">
                <MudStack>
                    <MudStack>
                        <MudText Align="Align.Center" Typo="Typo.h6">Stocks in wallet</MudText>
                        <div class="d-flex flex-wrap justify-content-center">
                            @foreach (var stock in _stocks)
                            {
                                <MudChip T="string" Label="true" Color="Color.Primary" Class="ma-1">@stock</MudChip>
                            }
                        </div>
                    </MudStack>
                    @if (_balanceChange.HasValue)
                    {
                        <AccountBalanceChangePanel BalanceChange="@_balanceChange.Value" Currency="@_currency" />
                    }

                    @if (_top5 is not null && _top5.Any())
                    {
                        <AccountTopBottomList Title="Top 5"
                                              Items="_top5 ?? []"
                                              ValueColor="Color.Success"
                                              ItemTitle="@(item => item.Item1.Ticker)"
                                              ItemValue="@(item => $"{item.Item2.ToString("0.00")} {_currency}")"
                                              ItemDate="@(item => item.Item1.PostingDate.ToLocalTime().ToString("yyyy-MM-dd"))" />
                    }

                    @if (_bottom5 is not null && _bottom5.Any())
                    {
                        <AccountTopBottomList Title="Bottom 5"
                                              Items="_bottom5 ?? []"
                                              ValueColor="Color.Error"
                                              ItemTitle="@(item => item.Item1.Ticker)"
                                              ItemValue="@(item => $"{item.Item2.ToString("0.00")} {_currency}")"
                                              ItemDate="@(item => item.Item1.PostingDate.ToLocalTime().ToString("yyyy-MM-dd"))" />
                    }
                </MudStack>
            </MudPaper>
        </SidePanel>
    </AccountDetailsPageContent>
}
else if (Account is not null && (Account.Entries is null || !Account.Entries.Any()))
{
    <AddStockEntry InvestmentAccount=Account ActionCompleted="HideOverlay" Tickers=@_stocks>
        <CustomButton>
            <MudButton Variant="Variant.Text" Color="MudBlazor.Color.Primary" href="@($"Import/{Account.Name}")">
                Import
            </MudButton>
        </CustomButton>
    </AddStockEntry>
}