@using FinanceManager.Domain.Entities.Imports
@using MudBlazor

@if (_isLoading)
{
    <div style="display: flex; justify-content: center; align-items: center; min-height: 200px;">
        <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
    </div>
}
else if (_conflictsByDay.Any() == true)
{
    <MudText Typo="Typo.h5">@_conflictsByDay.Count() conflicts require resolving</MudText>

    <MudGrid Class="mt-1">
        <MudItem xs="6">
            <MudText Typo="Typo.h6">Import data</MudText>
            <MudSimpleTable Elevation="0">
                <thead>
                    <tr>
                        <th>Posting date</th>
                        <th>Value change</th>
                        <th>Ticker</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var c in _selectedConflicts.Where(c => c.ImportEntry is not null))
                    {
                        <tr>
                            <td>@c.ImportEntry!.PostingDate</td>
                            <td>@c.ImportEntry!.ValueChange</td>
                            <td>@c.ImportEntry!.Ticker</td>
                        </tr>
                    }
                </tbody>
            </MudSimpleTable>
        </MudItem>
        <MudItem xs="6">
            <MudText Typo="Typo.h6">Existing data</MudText>
            <MudSimpleTable Elevation="0">
                <thead>
                    <tr>
                        <th>Posting date</th>
                        <th>Value change</th>
                        <th>Ticker</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var c in _selectedConflicts.Where(c => c.ExistingEntry is not null))
                    {
                        <tr>
                            <td>@c.ExistingEntry!.PostingDate</td>
                            <td>@c.ExistingEntry!.ValueChange</td>
                            <td>@c.ExistingEntry!.Ticker</td>
                        </tr>
                    }
                </tbody>
            </MudSimpleTable>
        </MudItem>

        <MudItem xs="6">
            <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="OnPickImported" Disabled="_isLoading">pick
                imported</MudButton>
            </MudItem>

            <MudItem xs="6">
                <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="OnPickExisting" Disabled="_isLoading">pick
                    existing</MudButton>
                </MudItem>
            </MudGrid>
        }
else
        {
            <MudButton Variant="Variant.Filled" Color="Color.Primary" href="@($"AccountDetails/{AccountId}")" Class="ml-auto">@($"Go back to {AccountName}")</MudButton>
        }