<div>
    <div class="row justify-content-center ">
        <div class="col">
            <p style="font-weight:bold;">@BankAccountModel.Name</p>
        </div>
    </div>


    <div class="row justify-content-center mb-3">
        <div class="col">
            Type
        </div>

        <div class="col">
            @BankAccountModel.AccountType
        </div>
    </div>

    <div class="row justify-content-center mb-3">
        <div class="col">
            First balance
        </div>

        <div class="col">
            @GetFirstBalance() zł
        </div>
    </div>

    <div class="row justify-content-center mb-3">
        <div class="col">
            Last balance
        </div>

        <div class="col">
            @GetLastBalance() zł
        </div>
    </div>

    <div class="row justify-content-center mb-3">
        <div class="col">
            Balance change
        </div>

        <div class="col">
            @GetBalanceChange() zł
        </div>
    </div>


    <div class="row justify-content-center mb-3 ">
        <div class="col">
            First Posting date
        </div>

        <div class="col">
            @GetFirstPostingDate()
        </div>
    </div>

    <div class="row justify-content-center mb-3 ">
        <div class="col">
            Last Posting date
        </div>

        <div class="col">
            @GetLastPostingDate()
        </div>
    </div>
    <hr />
</div>

