<MudExpansionPanel @bind-Expanded=_expanded>
    <TitleContent>
        <div class="row">
            <div class="col-4">
                <div class="row text-muted mb-1">
                    <div style="font-size:0.8rem !important">
                        Balance
                    </div>
                </div>
                <div class="row">
                    <div>
                        @CurrencyAccountEntry.Value @_currency
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row text-muted mb-1">
                    <div style="font-size:0.8rem !important">
                        Change
                    </div>
                </div>
                <div class="row">
                    @if (CurrencyAccountEntry.ValueChange > 0)
                    {
                        <div class="text-success">
                            @CurrencyAccountEntry.ValueChange @_currency
                        </div>
                    }
                    else
                    {
                        <div class="text-danger">
                            @CurrencyAccountEntry.ValueChange @_currency
                        </div>
                    }

                </div>
            </div>
            <div class="col-4">
                <div class="row text-muted mb-1">
                    <div style="font-size:0.8rem !important">
                        Posting date
                    </div>
                </div>
                <div class="row">
                    <div>
                        @CurrencyAccountEntry.PostingDate.ToString("yyyy-MM-dd")
                    </div>
                </div>
            </div>
        </div>
    </TitleContent>

    <ChildContent>
        @if (_expanded)
        {
            <div class="row">
                <div class="col-12 mt-4">
                    <div class="row">
                        <div class="col-6">
                            <div class="row text-muted">
                                <div style="font-size:0.8rem !important">
                                    Posting date
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div>
                                    @CurrencyAccountEntry.PostingDate
                                </div>
                            </div>
                        </div>
                        
                        @if (CurrencyAccountEntry.Labels is not null && CurrencyAccountEntry.Labels.Any())
                        {
                            <div class="col-6">
                                <div class="row text-muted">
                                    <div style="font-size:0.8rem !important">
                                        Labels
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div>
                                        @foreach (var item in CurrencyAccountEntry.Labels)
                                        {
                                            <MudChip T="string">@item.Name</MudChip>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(CurrencyAccountEntry.Description))
                        {
                            <div class="col-12">
                                <div class="row text-muted">
                                    <div style="font-size:0.8rem !important">
                                        Description
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div>
                                        @CurrencyAccountEntry.Description
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <MudButton Class="col-6" Variant="Variant.Text" OnClick=ShowEditOverlay>Edit</MudButton>
                        <MudButton Class="col-6" Variant="Variant.Text" OnClick=ShowRemoveOverlay Color="Color.Error">Remove</MudButton>
                    </div>
                </div>
            </div>
        }
    </ChildContent>
</MudExpansionPanel>

<MudOverlay @bind-Visible=_updateEntryVisibility DarkBackground="true">
    <MudPaper Class="p-5">
        <UpdateCurrencyEntry CurrencyAccount=CurrencyAccount CurrencyAccountEntry="CurrencyAccountEntry" ActionCompleted="HideOverlay" />
    </MudPaper>
</MudOverlay>

<MudOverlay @bind-Visible=_removeEntryVisibility DarkBackground="true">
    <MudPaper Class="p-5">
        <RemoveCurrencyEntry CurrencyAccountName=@CurrencyAccount.Name CurrencyAccountEntry="CurrencyAccountEntry" Cancel="HideOverlay" Confirm="Confirm" />
    </MudPaper>
</MudOverlay>