@using FinanceManager.Core.Entities.Accounts
@using FinanceManager.Core.Repositories
<MudExpansionPanel @bind-Expanded=_expanded>
    <TitleContent>
        <div class="row">
            <div class="col-4">
                <div class="row text-muted mb-1">
                    <div style="font-size:0.8rem !important">
                        Balance
                    </div>
                </div>
                <div class="row">
                    <div>
                        @BankAccountEntry.Value @currency
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row text-muted mb-1">
                    <div style="font-size:0.8rem !important">
                        Change
                    </div>
                </div>
                <div class="row">
                    @if (BankAccountEntry.ValueChange > 0)
                    {
                        <div class="text-success">
                            @BankAccountEntry.ValueChange @currency
                        </div>
                    }
                    else
                    {
                        <div class="text-danger">
                            @BankAccountEntry.ValueChange @currency
                        </div>
                    }

                </div>
            </div>
            <div class="col-4">
                <div class="row text-muted mb-1">
                    <div style="font-size:0.8rem !important">
                        Posting date
                    </div>
                </div>
                <div class="row">
                    <div>
                        @BankAccountEntry.PostingDate.ToString("yyyy-MM-dd")
                    </div>
                </div>
            </div>
        </div>
    </TitleContent>

    <ChildContent>
        <div class="row">
            <div class="col-12 mt-4">
                <div class="row">
                    <div class="col-6">
                        <div class="row text-muted">
                            <div style="font-size:0.8rem !important">
                                Type
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div>
                                @BankAccountEntry.ExpenseType
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row text-muted">
                            <div style="font-size:0.8rem !important">
                                Posting date
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div>
                                @BankAccountEntry.PostingDate
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row text-muted">
                            <div style="font-size:0.8rem !important">
                                Description
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div>
                                @BankAccountEntry.Description
                            </div>
                        </div>
                    </div>

                    <MudButton Class="col-6" Variant="Variant.Text" OnClick=ShowEditOverlay>Edit</MudButton>
                    <MudButton Class="col-6" Variant="Variant.Text" OnClick=ShowRemoveOverlay Color="Color.Error">Remove</MudButton>
                </div>
            </div>
        </div>
    </ChildContent>
</MudExpansionPanel>

<MudOverlay @bind-Visible=UpdateEntryVisibility DarkBackground="true">
    <MudPaper Class="p-5">
        <UpdateBankEntry BankAccount=BankAccount BankAccountEntry="BankAccountEntry" ActionCompleted="HideOverlay" />
    </MudPaper>
</MudOverlay>

<MudOverlay @bind-Visible=RemoveEntryVisibility DarkBackground="true">
    <MudPaper Class="p-5">
        <RemoveBankEntry BankAccountName=@BankAccount.Name BankAccountEntry="BankAccountEntry" Cancel="HideOverlay" Confirm="Confirm" />
    </MudPaper>
</MudOverlay>

@code {
    private bool _expanded = false;
    private bool RemoveEntryVisibility;
    private bool UpdateEntryVisibility;
    internal string currency = "PLN";

    [Parameter]
    public required BankAccount BankAccount { get; set; }

    [Parameter]
    public required BankAccountEntry BankAccountEntry { get; set; }

    [Inject]
    public required IAccountService AccountService { get; set; }
  
    [Inject]
    public required ISettingsService SettingsService { get; set; }
    
    protected override void OnParametersSet()
    {
        currency = SettingsService.GetCurrency();

        base.OnParametersSet();
    }
    
    public async Task Confirm()
    {
        UpdateEntryVisibility = false;
        RemoveEntryVisibility = false;
        _expanded = false;
        await InvokeAsync(StateHasChanged);

        BankAccount.Remove(BankAccountEntry.Id);
        AccountService.RemoveFinancialEntry(BankAccountEntry.Id, BankAccount.Name);
    }

    public async Task Cancel()
    {
        UpdateEntryVisibility = false;
        RemoveEntryVisibility = false;
        await InvokeAsync(StateHasChanged);
    }

    public async Task HideOverlay()
    {
        UpdateEntryVisibility = false;
        RemoveEntryVisibility = false;
        StateHasChanged();
    }

    public async Task ShowEditOverlay()
    {
        UpdateEntryVisibility = true;
    }
    public async Task ShowRemoveOverlay()
    {
        RemoveEntryVisibility = true;
    }

}
