@inherits AccountDetailsPreviewBase


<div>
    <div class="row justify-content-center ">
        <div class="col">
            <p style="font-weight:bold;">@AccountModel.Name</p>
        </div>
    </div>


    <div class="row justify-content-center mb-3">
        <div class="col">
            Type
        </div>

        <div class="col">
            @AccountModel.AccountType
        </div>
    </div>

    <div class="row justify-content-center mb-3">
        <div class="col">
            First balance
        </div>

        <div class="col">
            @AccountModel.Entries.FirstOrDefault()?.Balance zł
        </div>
    </div>

    <div class="row justify-content-center mb-3">
        <div class="col">
            Last balance
        </div>

        <div class="col">
            @AccountModel.Entries.LastOrDefault()?.Balance zł
        </div>
    </div>

    <div class="row justify-content-center mb-3">
        <div class="col">
            Balance change
        </div>

        <div class="col">
            @(Math.Round((AccountModel.Entries.LastOrDefault()?.Balance - AccountModel.Entries.FirstOrDefault()?.Balance).Value, 2)) zł
        </div>
    </div>


    <div class="row justify-content-center mb-3 ">
        <div class="col">
            First Posting date
        </div>

        <div class="col">
            @AccountModel.Entries.FirstOrDefault()?.PostingDate.ToString("yyyy-MM-dd")
        </div>
    </div>

    <div class="row justify-content-center mb-3 ">
        <div class="col">
            Last Posting date
        </div>

        <div class="col">
            @AccountModel.Entries.LastOrDefault()?.PostingDate.ToString("yyyy-MM-dd")
        </div>
    </div>
    <hr />
</div>

