@using FinanceManager.Domain.Entities.Accounts
@using FinanceManager.Domain.Entities.Accounts.Entries
@using FinanceManager.Domain.Repositories;
@using FinanceManager.Domain.Repositories.Account

<MudExpansionPanel @bind-Expanded=_expanded>
    <TitleContent>
        <div class="row">
            <div class="col-4">
                <div class="row text-muted mb-1">
                    <div style="font-size:0.8rem !important">
                        Balance
                    </div>
                </div>
                <div class="row">
                    <div>
                        @BankAccountEntry.Value @_currency
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row text-muted mb-1">
                    <div style="font-size:0.8rem !important">
                        Change
                    </div>
                </div>
                <div class="row">
                    @if (BankAccountEntry.ValueChange > 0)
                    {
                        <div class="text-success">
                            @BankAccountEntry.ValueChange @_currency
                        </div>
                    }
                    else
                    {
                        <div class="text-danger">
                            @BankAccountEntry.ValueChange @_currency
                        </div>
                    }

                </div>
            </div>
            <div class="col-4">
                <div class="row text-muted mb-1">
                    <div style="font-size:0.8rem !important">
                        Posting date
                    </div>
                </div>
                <div class="row">
                    <div>
                        @BankAccountEntry.PostingDate.ToString("yyyy-MM-dd")
                    </div>
                </div>
            </div>
        </div>
    </TitleContent>

    <ChildContent>
        @if (_expanded)
        {
            <div class="row">
                <div class="col-12 mt-4">
                    <div class="row">
                        <div class="col-6">
                            <div class="row text-muted">
                                <div style="font-size:0.8rem !important">
                                    Type
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div>
                                    @BankAccountEntry.ExpenseType
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row text-muted">
                                <div style="font-size:0.8rem !important">
                                    Posting date
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div>
                                    @BankAccountEntry.PostingDate
                                </div>
                            </div>
                        </div>
                        @if (!string.IsNullOrEmpty(BankAccountEntry.Description))
                        {

                            <div class="col-12">
                                <div class="row text-muted">
                                    <div style="font-size:0.8rem !important">
                                        Description
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div>
                                        @BankAccountEntry.Description
                                    </div>
                                </div>
                            </div>
                        }
                        @if (BankAccountEntry.Labels is not null)
                        {
                            <div class="col-12">
                                <div class="row text-muted">
                                    <div style="font-size:0.8rem !important">
                                        Labels
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div>
                                        @foreach (var item in BankAccountEntry.Labels)
                                        {
                                            <MudChip T="string">@item.Name</MudChip>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        <MudButton Class="col-6" Variant="Variant.Text" OnClick=ShowEditOverlay>Edit</MudButton>
                        <MudButton Class="col-6" Variant="Variant.Text" OnClick=ShowRemoveOverlay Color="Color.Error">Remove</MudButton>
                    </div>
                </div>
            </div>
        }
    </ChildContent>
</MudExpansionPanel>

<MudOverlay @bind-Visible=_updateEntryVisibility DarkBackground="true">
    <MudPaper Class="p-5">
        <UpdateBankEntry BankAccount=BankAccount BankAccountEntry="BankAccountEntry" ActionCompleted="HideOverlay" />
    </MudPaper>
</MudOverlay>

<MudOverlay @bind-Visible=_removeEntryVisibility DarkBackground="true">
    <MudPaper Class="p-5">
        <RemoveBankEntry BankAccountName=@BankAccount.Name BankAccountEntry="BankAccountEntry" Cancel="HideOverlay" Confirm="Confirm" />
    </MudPaper>
</MudOverlay>