@page "/Admin/Users"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]
@layout AdminLayout

<h3>Existing users</h3>

<MudTable @ref="@_table" Items="@_elements" RowsPerPage="20" Dense Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info" Elevation="0" Class="my-3">
    <HeaderContent>
        <MudTh>User id</MudTh>
        <MudTh>User name</MudTh>
        <MudTh>Capacity</MudTh>
        <MudTh>Action</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="User id">@context.Item1</MudTd>
        <MudTd DataLabel="User name">@context.Item2</MudTd>
        <MudTd DataLabel="Capacity"><MudProgressLinear Color="Color.Primary" Value="@context.Item3" /> </MudTd>
        <MudTd DataLabel="Action">
            <MudMenu Label="Action" Variant="Variant.Text">
                <MudMenuItem Label="Edit" />
                <MudMenuItem Label="Remove" />
            </MudMenu>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudPagination SelectedChanged="PageChanged" Count="@((_table.GetFilteredItemsCount() + _table.RowsPerPage - 1) / _table.RowsPerPage)" Class="pa-4" />
    </PagerContent>
</MudTable>