@using ApexCharts
@using FinanceManager.Domain.Entities
@using FinanceManager.Domain.Entities.Accounts
@using FinanceManager.Domain.Entities.Login
@using FinanceManager.Domain.Entities.MoneyFlowModels
@using FinanceManager.Domain.Providers
@using FinanceManager.Domain.Repositories
@using FinanceManager.Domain.Repositories.Account
@using FinanceManager.Domain.Services
@using FinanceManager.Components.Helpers



<div class="card" style="height:@Height;">
    <div class="row m-0">
        <div class="card-body">
            <h5 class="card-title">Assets per wallet</h5>
            @if (DisplayAsChart && Data.Any())
            {
                <h6 class="card-subtitle mb-2 text-muted">@Math.Round(_totalAssets, 2) @_currency</h6>
            }
            <div class="row flex-fill overflow-auto">
                @if (!DisplayAsChart)
                {
                    @if (Data.Any())
                    {
                        <div class="h-100">
                            @foreach (var wealthCategory in Data)
                            {
                                <div class="row mb-2">
                                    <div class="col">
                                        @wealthCategory.Name
                                    </div>

                                    <div class="col-auto">
                                        @wealthCategory.Value.ToString("0.00") @_currency
                                    </div>
                                </div>
                            }

                            <hr class="mt-1 mb-1" />
                            <div class="row mb-2">
                                <div class="col">
                                    Sum
                                </div>
                                @if (_totalAssets < 0)
                                {
                                    <div class="col-auto" style="color:red">
                                        @_totalAssets.ToString("0.00") @_currency
                                    </div>
                                }
                                else
                                {
                                    <div class="col-auto" style="color:green">
                                        @_totalAssets.ToString("0.00") @_currency
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="d-flex flex-grow-1 justify-center align-content-center flex-wrap">
                            <MudText Typo="Typo.button" HtmlTag="h3">No data</MudText>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    @if (DisplayAsChart)
    {
        <div class="row flex-fill pb-2" style="height:1px;">
            <div class="h-100">
                @if (Data.Any())
                {
                    <ApexChart @ref="_chart" Height="@("100%")" TItem="PieChartModel" Options="_options">

                        <ApexPointSeries TItem="PieChartModel"
                                         Items="Data"
                                         Name="Assets"
                                         XValue="e => e.Name.ToString()"
                                         YAggregate="@(e => e.Sum(e => Math.Round(e.Value,2)))"
                                         SeriesType="SeriesType.Pie"
                                         OrderByDescending="@(e=>e.Y)" />

                    </ApexChart>
                }
                else
                {
                    <div class="d-flex flex-grow-1 justify-center align-content-center flex-wrap">
                        <MudText Typo="Typo.button" HtmlTag="h3">No data</MudText>
                    </div>
                }
            </div>
        </div>
    }
</div>